<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--<logger name="org.hibernate.SQL" level="DEBUG" />-->
    <!--<logger name="org.hibernate.type" level="DEBUG" />-->
    <!--<logger name="org.hibernate" level="DEBUG" />-->

    <!--<logger name="org.hibernate.SQL" additivity="false" >-->
    <!--<level value="DEBUG" />-->
    <!--<appender-ref ref="ROLLING" />-->
    <!--</logger>-->

    <!--<logger name="org.hibernate.type" additivity="false" >-->
    <!--<level value="TRACE" />-->
    <!--<appender-ref ref="ROLLING" />-->
    <!--</logger>-->

    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="fi.vm" level="DEBUG"/>

</configuration>
